/* ───────────────────────────────── */
/*    CSS3 by ForoAlejandro v1.0.0   */
/* ───────────────────────────────── */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --primary-color: #0074FF;
    --secondary-color: #ffffff;
}

[data-theme="light"] {
    /* Dark mode */
    --primary-color: #ffffff;
    --secondary-color: #0074FF;
}

[data-theme="dark"] {
    /* Dark mode */
    --primary-color: #ffffff;
    --secondary-color: #0074FF;
}

/* ───────────────────────────────── */
/*              Reset                */
/* ───────────────────────────────── */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ───────────────────────────────── */
/*               Body                */
/* ───────────────────────────────── */

body {
    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-color: var(--secondary-color);
}

h1::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h3::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

span::selection{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

b::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*              Header               */
/* ───────────────────────────────── */

header {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;

    background-color: var(--primary-color);
}

header a {
    color: var(--secondary-color);
}

nav {
    display: flex;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list--logo {
    gap: 4rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__logo--image {
    width: 3rem;
    filter: brightness(0) saturate(100%) invert(100%);
}

.header__logo--text {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.header__list--nav {
    gap: 4rem;
}

.header__list--sign {
    gap: 1rem;
}

.header__nav--signin {
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.header__nav--signup {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

/* ───────────────────────────────── */
/*              Footer               */
/* ───────────────────────────────── */

footer {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;
    margin-top: auto;


    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: var(--secondary-color);
}

.footer__copyright--image {
    width: 3rem;
}

.footer__list {
    display: flex;
    gap: 3rem;
}

.footer__nav {
    color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*               Main                */
/* ───────────────────────────────── */

main {
    width: 100%;
    flex: 1;
    padding: 5rem 10rem;

    color: var(--primary-color);
}

.main__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* ───────────────────────────────── */
/*               Home                */
/* ───────────────────────────────── */

.main__home {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    position: relative;
    overflow: hidden;
}

.home__presentation--title {
    display: inline-block;
    font-size: 6rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    padding: 0.8rem 3rem;
    color: var(--secondary-color);
}

.home__presentation--subtitle {
    font-size: 5rem;
    padding-top: 3rem;
}

.home__presentation--niche {
    color: var(--secondary-color);
    -webkit-text-stroke: 0.1rem var(--primary-color);
}

.home__descriptions {
    width: 66%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.home__descriptions.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.home__description {
    padding: 3rem 0;
}

.home__description--title {
    font-size: 4rem;
    padding: 1rem 0;
}

.home__description--content {
    font-size: 1.3rem;
    padding: 0.6rem 0;
}

/* ───────────────────────────────── */
/*         Sign In & Sign Up         */
/* ───────────────────────────────── */

.sign {
    width: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.sign--title {
    font-size: 5rem;
    font-weight: bolder;
}

.sign__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
}

.sign__form--element {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sign__form--button {
    padding: 0.7rem;
    font-size: 1rem;
    border: solid 0.2rem transparent;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    transition: all 0.3s ease;
}

.sign__form--button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.2rem solid var(--primary-color);
}

.sign__form--element {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.sign__form--label {
    font-size: 1.2rem;
}

.sign__form--input {
    padding: 0.7rem;
    border: transparent;
    outline: 0.12rem solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

.sign__form--input::placeholder {
    color: var(--primary-color);
}

.sign__form--input:focus {
    outline: 0.13rem solid var(--primary-color);
}

.sign__form--links {
    display: flex;
    justify-content: space-between;
}

.sign__form--link {
    color: var(--primary-color);
}

.underline-animation {
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: var(--primary-color); /* Change to your desired color */
    overflow: hidden; /* Hide the underline initially */
}

.underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: var(--primary-color); /* Color of the underline */
    transform: translateX(-100%); /* Start off-screen */
    transition: transform 0.3s ease; /* Animation duration and easing */
}

.underline-animation:hover::after {
    transform: translateX(0); /* Move underline into view on hover */
}