* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --primary-color: #0074FF;
    --secondary-color: #FFFFFF;
}

/* Reset */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
header {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;

    background-color: var(--primary-color);
}

header a {
    color: var(--secondary-color);
}

nav {
    display: flex;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__list--logo {
    gap: 3rem;
}

.header__list--nav {
    gap: 5rem;
}

.header__list--sign {
    gap: 1rem;
}

.header__nav--signin {
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.header__nav--signup {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

/* Footer */
footer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    padding: 2rem;

    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}