/* ───────────────────────────────── */
/*    CSS3 by ForoAlejandro v1.0.0   */
/* ───────────────────────────────── */

/* ───────────────────────────────── */
/*           Gotham Fonts            */
/* ───────────────────────────────── */

/* Thin */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-thin-webfont.woff2') format('woff2'),
        url('/fonts/gotham-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-thinitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-xlight-webfont.woff2') format('woff2'),
        url('/fonts/gotham-xlight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-xlightitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-xlightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
        url('/fonts/gotham-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-lightitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Book */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-book-webfont.woff2') format('woff2'),
        url('/fonts/gotham-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-bookitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-bookitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-medium-webfont.woff2') format('woff2'),
        url('/fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-mediumitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-bold-webfont.woff2') format('woff2'),
        url('/fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-bolditalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
        url('/fonts/gotham-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-blackitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* Ultra */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-ultra-webfont.woff2') format('woff2'),
        url('/fonts/gotham-ultra-webfont.woff') format('woff');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-ultraitalic-webfont.woff2') format('woff2'),
        url('/fonts/gotham-ultraitalic-webfont.woff') format('woff');
    font-weight: 950;
    font-style: italic;
}


/* ───────────────────────────────── */
/*              General              */
/* ───────────────────────────────── */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham;
}

:root {
    --primary-color: #0074FF;
    --secondary-color: #ffffff;
}

/* ───────────────────────────────── */
/*              Reset                */
/* ───────────────────────────────── */

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

strong {
    font-weight: 500;
}

textarea {
    padding: 0;
    margin: 0;
    line-height: 0;
}

/* ───────────────────────────────── */
/*               Body                */
/* ───────────────────────────────── */

body {
    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*         Selections' Format        */
/* ───────────────────────────────── */

h1::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h3::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

input::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

span::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

strong::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

b::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*        General Animations        */
/* ───────────────────────────────── */

/* Underline Effect*/

.underline {
    text-decoration: none;
    position: relative;
    color: var(--primary-color);
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -0.1rem;
    height: 1px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
}

.underline--secondary-color {
    color: var(--secondary-color);
}

.underline--secondary-color::after {
    background-color: var(--secondary-color)
}

/* ───────────────────────────────── */
/*              Header               */
/* ───────────────────────────────── */

header {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;

    background-color: var(--primary-color);
}

header a {
    color: var(--secondary-color);
}

nav {
    display: flex;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list--logo {
    gap: 4rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__logo--image {
    width: 3rem;
    filter: brightness(0) saturate(100%) invert(100%);
}

.header__logo--text {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.header__list--nav {
    gap: 4rem;
}

.header__list--sign {
    gap: 1rem;
}

.header__nav--signin {
    outline: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;
}

.header__nav--signin:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header__nav--signup {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;
}

.header__nav--signup:hover {
    outline: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*              Footer               */
/* ───────────────────────────────── */

footer {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;
    margin-top: auto;

    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: var(--secondary-color);
}

.footer__copyright--image {
    width: 3rem;
}

.footer__list {
    display: flex;
    gap: 3rem;
}

.footer__nav {
    color: var(--secondary-color);
}

/* ───────────────────────────────── */
/*               Main                */
/* ───────────────────────────────── */

main {
    width: 100%;
    flex: 1;
    padding: 5rem 10rem;

    color: var(--primary-color);
}

.main__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* ───────────────────────────────── */
/*        404 Not Found Page         */
/* ───────────────────────────────── */
.notfound {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 1rem;
}

.notfound--error {
    font-size: 21rem;
    font-weight: 950;
    color: var(--secondary-color);
    -webkit-text-stroke: 1rem var(--primary-color);
    transition: all 0.3s ease;
}

.notfound--error:hover {
    color: var(--primary-color);
    -webkit-text-stroke: 1rem transparent;
    cursor: pointer;
}

.notfound--oops {
    font-weight: 900;
    font-size: 8rem;
}

.notfound--oops::after {
    content: 'Oops...';
    transition: all 0.2s ease;
}

.notfound--oops:hover::after {
    content: 'Home';
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem 3rem;
    border-radius: 3rem;
}

/* ───────────────────────────────── */
/*               Home                */
/* ───────────────────────────────── */

.main__home {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    position: relative;
    overflow: hidden;
}

.home__presentation--title {
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    border-radius: 2rem;
    background-color: var(--primary-color);
    padding: 0.8rem 3rem;
    color: var(--secondary-color);
}

.home__presentation--subtitle {
    font-size: 5rem;
    padding-top: 3rem;
}

.home__presentation--niche {
    color: var(--secondary-color);
    -webkit-text-stroke: 0.1rem var(--primary-color);
}

.home__descriptions {
    width: 66%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.home__descriptions.visible {
    opacity: 1;
    transform: translateY(0);
}

.home__description {
    padding: 3rem 0;
}

.home__description--title {
    font-size: 5rem;
    padding: 1rem 0;
}

.home__description--content {
    font-size: 1.5rem;
    padding: 0.6rem 0;
}

.home__description--buttons {
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
}

.home__description--button {
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.2s ease;
}

.home__description--button:hover {
    background-color: var(--secondary-color);
    outline: 0.3rem solid var(--primary-color);
    color: var(--primary-color);
}

/* ───────────────────────────────── */
/*          Sign & Contact           */
/* ───────────────────────────────── */

.sign {
    width: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.form--title {
    font-size: 5.5rem;
    font-weight: 900;
}

.contact {
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* ───────────────────────────────── */
/*            Form Format            */
/* ───────────────────────────────── */

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;
}

.form--element {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form--button {
    padding: 0.7rem;
    font-size: 1rem;
    border: transparent;
    outline: solid 0.2rem transparent;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    transition: all 0.3s ease;
}

.form--button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: 0.15rem solid var(--primary-color);
    font-weight: 500;
}

.form--element {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form--label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form--input {
    padding: 0.7rem;
    border: transparent;
    outline: 0.12rem solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form--input::placeholder {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.form--input:focus {
    outline: 0.13rem solid var(--primary-color);
}

.form--textarea {
    padding: 0.7rem;
    border: transparent;
    outline: 0.12rem solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 10rem;
    line-height: 1.5rem;
    resize: none;
}

.form--textarea::placeholder {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.form--textarea:focus {
    outline: 0.13rem solid var(--primary-color);
}

.form--links {
    display: flex;
    justify-content: space-between;
}

.form--link {
    color: var(--primary-color);
}

.form--bold {
    font-weight: 500;
}

/* ───────────────────────────────── */
/*               Blog                */
/* ───────────────────────────────── */

.blog {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 10rem;
}

.blog--title {
    font-size: 9rem;
    font-weight: 950;
    text-align: center;
}

.blog__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
}

.blog__post {
    width: 33%;
    border-radius: 2rem;
    border: 0.3rem solid var(--primary-color);
    overflow: hidden;
}

.blog__post--container {
  position: relative;
}

.blog__post--image {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    background-color: var(--primary-color);
}

.blog__post--content {
    padding: 2rem;
    display: flex;
    gap: 1.2rem;
    color: var(--primary-color);
    flex-direction: column;
}

.blog__post--stats {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    display: flex;
    gap: 1.2rem;
    font-size: 1.1rem;
    color: #ffffff;
}

.blog__post--title {
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--primary-color);
}

.blog__post--title:hover {
    cursor: pointer;
}

.blog__post--tags {
    display: flex;
    gap: 1rem;
}

.blog__post--tag {
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding:0.3rem 0.7rem;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;
}

.blog__post--tag:hover {
    cursor: pointer;
}

/* ───────────────────────────────── */
/*              Article              */
/* ───────────────────────────────── */

.content--underline {
    text-decoration: underline;
}

.content--bold {
    font-weight: 500;
}

.content--italic {
    font-weight: 400;
    font-style: italic;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.article__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article__title--name {
    width: 70%;
    font-size: 4rem;
    text-align: center;

}

.article__title--quote {
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 2.1rem;
    font-weight: 250;
    text-align: center;
}

.article--introduction {
    font-size: 1.2rem;
}

.article__section--content {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
}

.article__sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__section {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
}

.article__section--introduction {
    padding-bottom: 3rem;
}

.article__section--title {
    font-size: 3rem;
}
.article__section--subtitle {
    font-size: 2rem;
}

.article__list--ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    list-style: disc;   
}

.article__section--ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: decimal;
    list-style-position: inside;
}

.article__list--content {
    padding: 0.5rem 0;
}

.article__related {
    width: 80%;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.article__related--title {
    font-size: 4rem;
    text-align: center;
}

